# DATA CLEANING

In [25]:
import pandas as pd
df = pd.read_csv("raw_data.csv")

## Basic cleanings:
	* Drop duplicates and fill NaN values.

In [2]:
#Checking columns names:
#df.columns
#dropping duplicates rows
df=df.drop_duplicates()
#deleting row without salary: our entirely analysis depends on salary info.
df = df[df['Salary Estimate'] != '-1']
#resetting index
df=df.reset_index(drop=True)
#df.isnull().sum() #This line count how many null data are in each column of the df
#filling nan data with '-1'
df = df.fillna('-1')

## Parsed numeric data out of salary column as min, max and avg _salary:
	* Taked into account the hourly given salaries.
	* Added columns for employer provided salary and hourly wages.

In [3]:
#Since cells were found to have a different salary format, they should be highlighted.
#So two new columns with 1 for the detected cells and 0 for the normal cells are needed (one for each case):
df["hourly"] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df["employer_provided"] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

#Creating a new dataframe with the salary data and processed it:
    #Here we are deleting those rows without the salary data.
df = df[df['Salary Estimate'] != '-1']
    #Here is taken everything before the '(' ignoring the rest and pasting that in the serie "salary".
salary = df["Salary Estimate"].apply(lambda x: x.split('(')[0])
    #Here are erased the 'K' and '$
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
    #Here are replaced the cases previously detected with a blank space instead.
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

#Now that only numbers are left, separated with a '-', split them and put them in two different dataframe will help to calculate the average
#This doesn't take into consideration the data presented in an hourly form:

df['min_salary'] = min_hr.apply(lambda x: float(x.split('-')[0].strip()) if len(x.split('-')) > 1 else float(x.strip()))
df['max_salary'] = min_hr.apply(lambda x: float(x.split('-')[1].strip()) if len(x.split('-')) > 1 else float(x.strip()))



 #calculating average:
 #It is logical to think that the companies that are hiring telling an hourly salary could not be hiring annually, hiring by season, or are not sure about investment in this area, so  the salaries could be irregular (generally worst)
 #Later if I don't want to add them in the EDA step, then there we got the "hourly" column
 #Why I multiply by 1.92? 8 hours, 5 days, 4 weeks, 12 months: 8*5*4*12=1920... The values in the column are in thousands, so I need to divide by 1000.
df['min_salary']= df.apply(lambda x: x['min_salary'] if x['hourly']==0 else (int)(x['min_salary']*1.92), axis = 1)
df['max_salary']= df.apply(lambda x: x['max_salary'] if x['hourly']==0 else (int)(x['max_salary']*1.92), axis = 1)

    #Finally, averaging column is calculated:
df['avg_salary'] = (df.min_salary+df.max_salary)/2

 ## Parsed rating out of company text and removed undesired characters.

In [4]:
#Taking into account that the Company_Name  column has not only the name of the company, but also the information of the ratings, it is necessary to remove ir the latter.

df['company_txt']= df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3], axis = 1)

#If we watch what we have in the company names treated column:
df['company_txt']
#It is quite evident that each cell has "/n" characters at the end. Then we should remove it.

df['company_txt'] = df['company_txt'].str[:-1]
df['company_txt']

0            Adobe
1              IBM
2        Microsoft
3           CPChem
4      IVID TEK IN
          ...
675     The JAAW G
676           Kumo
677        Parsons
678              -
679
Name: company_txt, Length: 680, dtype: object

## Made a new column for company state and cleaned it.

In [5]:
#Here can be seeing that States are after the comma.
    #The next line split the cell and take what is after the comma. Simple.
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1] if ',' in x else x)

df['job_state'].value_counts()
#Here can be seen "Los Angeles" (an error, obviously)

df['job_state'] = df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')
df['job_state'] = df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'iowa' else 'IA')
df['job_state'] = df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'georgia' else 'GA')
df['job_state'] = df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'virginia' else 'VA')
df['job_state'].value_counts()

CA                141
Remote             58
TX                 48
VA                 46
NY                 32
IL                 28
MA                 28
MD                 28
CO                 21
NJ                 21
FL                 19
NC                 18
WA                 16
DC                 15
GA                 14
MI                 13
PA                 13
United States      10
UT                 10
OH                 10
CT                  8
AZ                  8
-1                  8
MO                  7
WI                  7
MN                  6
LA                  5
DE                  4
California          4
IA                  4
AR                  3
AL                  3
NE                  2
OR                  2
IN                  2
RI                  2
NM                  2
KY                  2
ND                  1
NH                  1
Maryland            1
Manhattan           1
TN                  1
Illinois            1
Point Loma          1
New York State      1
KS                  1
NV                  1
ME                  1
MS                  1
Name: job_state, dtype: int64

## Transformed founded date into age of company

In [9]:
#How many years are these companies working?
df['age'] = df.Founded.apply(lambda x: x if x<1 else 2023-x)

## Made columns for if different skills were listed in the job description:

|||||||
|------------------|------------------|------------------|------------------|------------------|------------------|
|Python  |R|Spark|AWS|Excel|SQL|
|SAS|d3.js|Julia|Jupyter|Keras  |MatLab|
|MatPlotLib|PyTorch|Scikit-Learn|Tensor Flow|Weka|Selenium|
|Hadoop|Tableau|Power BI|BigML|RapidMiner|Apache Flink|
|DataRobot|SAP Hana|Mongo DB|Trifacta|MiniTab|Kafka|
|MicroStrategy|Google Analytics|SPSS|-|-|-|
||||||||

In [10]:
df['python_yn']  = df['Job Description'].apply(lambda x: 1 if 'py' in x.lower() else 0)
  
df.python_yn.value_counts()

df['R_yn']  = df['Job Description'].apply(lambda x: 1 if ' r ' in x.lower() or 'r-studio' in x.lower() or ' r,' in x.lower() or ' r.' in x.lower() else 0)
df.R_yn.value_counts()
#spark
df['spark_yn']  = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark_yn.value_counts()
#aws
df['aws_yn']  = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws_yn.value_counts()
#excel
df['excel_yn']  = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel_yn.value_counts()
#sql
df['sql_yn']  = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df.sql_yn.value_counts()
#sas
df['sas_yn']  = df['Job Description'].apply(lambda x: 1 if (' sas ' in x.lower() or ' sas,' in x.lower() or ' sas.' in x.lower())  else 0)
df.sas_yn.value_counts()
#d3js
df['d3js_yn']  = df['Job Description'].apply(lambda x: 1 if 'd3' in x.lower() else 0)
df.d3js_yn.value_counts()
#julia
df['julia_yn']  = df['Job Description'].apply(lambda x: 1 if 'julia' in x.lower() else 0)
df.julia_yn.value_counts()
#jupyter
df['jupyter_yn']  = df['Job Description'].apply(lambda x: 1 if 'jupyter' in x.lower() else 0)
df.jupyter_yn.value_counts()
#keras
df['keras_yn']  = df['Job Description'].apply(lambda x: 1 if 'keras' in x.lower() else 0)
df.keras_yn.value_counts()
#matlab
df['matlab_yn']  = df['Job Description'].apply(lambda x: 1 if 'matlab' in x.lower() else 0)
df.matlab_yn.value_counts()
#matplotlib
df['matplotlib_yn']  = df['Job Description'].apply(lambda x: 1 if 'matplotlib' in x.lower() else 0)
df.matplotlib_yn.value_counts()
#pytorch
df['pytorch_yn']  = df['Job Description'].apply(lambda x: 1 if 'pytorch' in x.lower() else 0)
df.pytorch_yn.value_counts()
#scikit-learn
df['scikit_yn']  = df['Job Description'].apply(lambda x: 1 if 'scikit' in x.lower() else 0)
df.scikit_yn.value_counts()
#tensor
df['tensor_yn']  = df['Job Description'].apply(lambda x: 1 if 'tensor' in x.lower() else 0)
df.tensor_yn.value_counts()
#weka
df['weka_yn']  = df['Job Description'].apply(lambda x: 1 if 'weka' in x.lower() else 0)
df.weka_yn.value_counts()
#selenium
df['selenium_yn']  = df['Job Description'].apply(lambda x: 1 if 'selenium' in x.lower() else 0)
df.selenium_yn.value_counts()
#hadoop
df['hadoop_yn']  = df['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)
df.hadoop_yn.value_counts()
#tableau
df['tableau_yn']  = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df.tableau_yn.value_counts()
#power bi
df['bi_yn']  = df['Job Description'].apply(lambda x: 1 if ('power bi' in x.lower() or 'powerbi' in x.lower()) else 0)
df.bi_yn.value_counts()
#bigml
df['bigml_yn']  = df['Job Description'].apply(lambda x: 1 if 'bigml' in x.lower() else 0)
df.bigml_yn.value_counts()
#rapidminer
df['rapidminer_yn']  = df['Job Description'].apply(lambda x: 1 if 'rapidminer' in x.lower() else 0)
df.rapidminer_yn.value_counts()
#apache flink
df['flink_yn']  = df['Job Description'].apply(lambda x: 1 if 'flink' in x.lower() else 0)
df.flink_yn.value_counts()
#datarobot
df['datarobot_yn']  = df['Job Description'].apply(lambda x: 1 if 'datarobot' in x.lower() else 0)
df.datarobot_yn.value_counts()
#sap hana
df['hana_yn']  = df['Job Description'].apply(lambda x: 1 if 'hana' in x.lower() else 0)
df.hana_yn.value_counts()
#mongo db
df['mongo_yn']  = df['Job Description'].apply(lambda x: 1 if 'mongo' in x.lower() else 0)
df.mongo_yn.value_counts()
#trifacta
df['trifacta_yn']  = df['Job Description'].apply(lambda x: 1 if 'trifacta' in x.lower() else 0)
df.trifacta_yn.value_counts()
#minitab
df['minitab_yn']  = df['Job Description'].apply(lambda x: 1 if 'minitab' in x.lower() else 0)
df.minitab_yn.value_counts()
#kafka
df['kafka_yn']  = df['Job Description'].apply(lambda x: 1 if 'kafka' in x.lower() else 0)
df.kafka_yn.value_counts()
#microstrategy
df['microstrategy_yn']  = df['Job Description'].apply(lambda x: 1 if 'microstrategy' in x.lower() else 0)
df.microstrategy_yn.value_counts()
#google analytics
df['google_an_yn']  = df['Job Description'].apply(lambda x: 1 if 'google analytics' in x.lower() else 0)
df.google_an_yn.value_counts()

#Statistical Package for the Social Sciences
df['spss_yn']  = df['Job Description'].apply(lambda x: 1 if 'spss' in x.lower() else 0)
df.spss_yn.value_counts()

0    676
1      4
Name: spss_yn, dtype: int64

## Column for simplified Job Title.

In [11]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data science' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning engineer'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'scientist' in title.lower():
        return 'other scientist'
    elif 'data modeler' in title.lower():
        return 'data modeler'
    elif 'data' and 'anal' in title.lower():
        return 'data analitics'
    else:
        return 'na'  #not applicable

In [12]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)
df['job_simp'].value_counts()

data scientist               610
na                            21
data engineer                 13
machine learning engineer     11
other scientist               10
analyst                        9
data analitics                 4
manager                        2
Name: job_simp, dtype: int64

## Column for Seniority:
	* by analyzing Jobs Title info and by analyzing Jobs Descriptoin info.

In [13]:
#This function looks for the seniority asked in the title of each job asking (Job Title column)
def seniority(title):
    if 's.sr' in title.lower() or 's. sr' in title.lower() or 's sr' in title.lower() or 'ssr' in title.lower() or 's. senior' in title.lower() or 'semi or' in title.lower() or 'middle' in title.lower() or 'mid' in title.lower():
        return 'ssr'
    elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'jr'
    elif 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'sr'
    else:
        return 'na'

In [14]:
df['seniority_by_title'] = df['Job Title'].apply(seniority)
df.seniority_by_title.value_counts()

na    465
sr    192
jr     23
Name: seniority_by_title, dtype: int64

In [15]:
#This function looks for the seniority asked in the description of each job asking (Job Description column)
import re


def experience (job_description):

    if 'years experience' in job_description.lower(): #find each position in 'Job Description' that says "years experience" (years experience)
        text_list = job_description.split('years experience')
        text_list = [x[-15:] for x in text_list] #Just take last 15 characters before the searched string (where the text says how many years)

        if len(text_list)>1: #the next line only is executed if there is more than one item in the list
            text_list = text_list[:-1] #delete last item in list (cause it does not contain a number)

        # Here I transform words to numbers
        for index, item in enumerate(text_list):
            if "one" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('one','1')
            if "two" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('two','2')
            if "three" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('three','3')
            if "four" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('four','4')
            if "five" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('five','5')
            if "six" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('six','6')
            if "seven" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('seven','7')
            if "eight" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('eight','8')
            if "nine" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('nine','9')
            if "ten" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('ten','10')
            if "eleven" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('eleven','11')
            if "twelve" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('twelve','12')

        # Here numbers are everything left. (thanks stackoverflow)
        pattern = re.compile(r'\d+')
        num_list = [" ".join(pattern.findall(item)) for item in text_list] #Take each number and create a list of numbers.
        #NOTE: when there are decimals numbers, they are taken as different numbers (i.e. 3.5 are taken as 3 and 5). But, taking into account that the average between this and it correct value not affect much, it is irrelevant to correct it.

        num_list = max(num_list)   #finally we take the bigger number
        #(this means that if the company ask for 2 years of experience with python and 5 years with ML, the important number is the 5)

        text = ' '.join(num_list)
        #I choose to do it like this because if I join number I can't differentiate a decimal to decide which is larger('10 3' -> 103)
        last_list = text.split(' ')
        text = max(last_list)   #finally we take the bigger number
        #(this means that if the company ask for 2 years of experience with python and 5 years with ML, the important number is the 5)

        if text == '': #Writes 'na' when text is empty (because in the text before de searched string there is no numbers)
            text = 'na'

        return text

    elif 'years of' in job_description.lower(): #find each position in 'Job Description' that says "years of" (years of experience)
        text_list = job_description.split('years of')
        text_list = [x[-15:] for x in text_list] #Just take last 15 characters before the searched string (where the text says how many years)

        if len(text_list)>1: #the next line only is executed if there is more than one item in the list
            text_list = text_list[:-1] #delete last item in list (cause it does not contain a number)

        # Here I transform words to numbers
        for index, item in enumerate(text_list):
            if "one" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('one','1')
            if "two" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('two','2')
            if "three" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('three','3')
            if "four" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('four','4')
            if "five" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('five','5')
            if "six" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('six','6')
            if "seven" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('seven','7')
            if "eight" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('eight','8')
            if "nine" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('nine','9')
            if "ten" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('ten','10')
            if "eleven" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('eleven','11')
            if "twelve" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('twelve','12')

        # Here numbers are everything left. (thanks stackoverflow)
        pattern = re.compile(r'\d+')
        num_list = [" ".join(pattern.findall(item)) for item in text_list] #Take each number and create a list of numbers.
        #NOTE: when there are decimals numbers, they are taken as different numbers (i.e. 3.5 are taken as 3 and 5). But, taking into account that the average between this and it correct value not affect much, it is irrelevant to correct it.

        num_list = max(num_list)   #finally we take the bigger number
        #(this means that if the compay ask for 2 years of experience with python and 5 years with ML, the important number is the 5)

        text = ' '.join(num_list)
        #I choose to do it like this because if I join number I can't differentiate a decimal to decide which is larger('10 3' -> 103)
        last_list = text.split(' ')
        text = max(last_list)   #finally we take the bigger number
        #(this means that if the company ask for 2 years of experience with python and 5 years with ML, the important number is the 5)

        if text == '': #Writes 'na' when text is empty (because in the text before de searched string there is no numbers)
            text = 'na'

        return text

    elif 'years’' in job_description.lower(): #find each position in 'Job Description' that says "years’" (year's experience)
        text_list = job_description.split('years’')
        text_list = [x[-15:] for x in text_list] #Just take last 15 characters before the searched string (where the text says how many years)

        if len(text_list)>1: #the next line only is executed if there is more than one item in the list
            text_list = text_list[:-1] #delete last item in list (cause it does not contain a number)

        # Here I transform words to numbers
        for index, item in enumerate(text_list):
            if "one" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('one','1')
            if "two" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('two','2')
            if "three" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('three','3')
            if "four" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('four','4')
            if "five" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('five','5')
            if "six" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('six','6')
            if "seven" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('seven','7')
            if "eight" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('eight','8')
            if "nine" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('nine','9')
            if "ten" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('ten','10')
            if "eleven" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('eleven','11')
            if "twelve" in text_list[index].lower():
                text_list[index] = text_list[index].lower().replace('twelve','12')

        # Here numbers are everything left. (thanks stackoverflow)
        pattern = re.compile(r'\d+')
        num_list = [" ".join(pattern.findall(item)) for item in text_list] #Take each number and create a list of numbers.
        #NOTE: when there are decimals numbers, they are taken as different numbers (i.e. 3.5 are taken as 3 and 5). But, taking into account that the average between this and it correct value not affect much, it is irrelevant to correct it.

        num_list = max(num_list)   #finally we take the bigger number
        #(this means that if the company ask for 2 years of experience with python and 5 years with ML, the important number is the 5)

        text = ' '.join(num_list)
        #I choose to do it like this because if I join number I can't differentiate a decimal to decide which is larger('10 3' -> 103)
        last_list = text.split(' ')
        text = max(last_list)   #finally we take the bigger number
        #(this means that if the company ask for 2 years of experience with python and 5 years with ML, the important number is the 5)

        if text == '': #Writes 'na' when text is empty (because in the text before de searched string there is no numbers)
            text = 'na'

        return text

    else:
        return 'na'


df['seniority_by_description'] = df['Job Description'].apply(experience)

df['seniority_by_description'].value_counts()

na    643
5      11
7       6
3       5
2       4
8       4
6       3
4       3
1       1
Name: seniority_by_description, dtype: int64

In [16]:
#Here I turn years of experience asked to seniority classification:
    

def years_2_seniority(years_c):
    if years_c.lower().isdigit():
        if int(years_c.lower()) <= 2:
            return 'jr'
        elif int(years_c.lower()) > 2 and int(years_c.lower()) <= 5:
            return 'ssr'
        elif int(years_c.lower()) > 5:
            return 'sr'
    else:
        return 'na'

df['seniority_by_description'] = df['seniority_by_description'].apply(years_2_seniority)
df['seniority_by_description'].value_counts()

na     643
ssr     19
sr      13
jr       5
Name: seniority_by_description, dtype: int64

In [17]:
df['seniority_by_description'] = df['seniority_by_description'].apply(years_2_seniority)
df['seniority_by_description'].value_counts()

na    680
Name: seniority_by_description, dtype: int64

In [18]:
#Finally I made de last seniorities characterization ranking by seniority_by_title and then seniority_by_description
df['seniority'] = df.apply(lambda x: x['seniority_by_description'] if 'na' in x['seniority_by_title'] else x['seniority_by_title'],axis=1)
df['seniority'].value_counts()

#job_title_variation=df.apply(lambda x: x['Job Title'] if x['job_simp']=="na" else 1,axis=1)

na    465
sr    192
jr     23
Name: seniority, dtype: int64

## Column for Job Description length
	* by quantity of letters and quantity of words

In [19]:
#It might be interesting to know if companies have longer descriptions if they are posting higher or lower salaries.
    #That is to say: Does a company want to explain away a low salary by having really in depth description???
    #later we gonna compare to answer this hypothesis, For now, just a columns with these values

#Counting characters:
df['desc_len'] = df['Job Description'].apply(lambda x:len(x))
df['desc_len']

0      4862
1      1444
2      2003
3       873
4      1247
       ...
675     615
676    1032
677    2453
678       2
679       2
Name: desc_len, Length: 680, dtype: int64

In [20]:

#Counting words.
desc_wo_intro = df['Job Description']
#First I replace '\n' with ' ':
for index, item in enumerate(desc_wo_intro):
    if "\n" in desc_wo_intro[index].lower():
        desc_wo_intro[index] = desc_wo_intro[index].lower().replace('\n',' ')
# Then count words:
df['desc_len_words'] = desc_wo_intro.str.count(' ') + 1
df['desc_len_words']

C:\Users\agvs3\AppData\Local\Temp\ipykernel_13016\3541234607.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desc_wo_intro[index] = desc_wo_intro[index].lower().replace('\n',' ')

0      729
1      239
2      292
3      143
4      193
      ...
675     89
676    153
677    385
678      1
679      1
Name: desc_len_words, Length: 680, dtype: int64

## Checking the others columns:
	* Size
	* Type of ownership
	* Revenue

In [21]:
#Size Column
df['Size'] = df['Size'].apply(lambda x: 'na' if 'unknown' in x.lower() else ('na' if '-1' in x.lower() else x))
df['Size'].value_counts()

10000+ Employees           239
1001 to 5000 Employees     118
1 to 50 Employees           71
51 to 200 Employees         68
na                          55
201 to 500 Employees        44
5001 to 10000 Employees     43
501 to 1000 Employees       42
Name: Size, dtype: int64

In [22]:
# Type of ownership
df['Type of ownership'] = df['Type of ownership'].apply(lambda x: 'Other Organization' if 'unknown' in x.lower() else ('Other Organization' if '-1' in x.lower() else x))
df['Type of ownership'].value_counts()

Company - Private                 275
Company - Public                  263
Nonprofit Organization             37
Subsidiary or Business Segment     26
Government                         21
Other Organization                 18
College / University               18
Hospital                            8
Self-employed                       6
Private Practice / Firm             4
Contract                            4
Name: Type of ownership, dtype: int64

In [23]:
#Revenue
df['Revenue'] = df['Revenue'].apply(lambda x: 'Unknown / Non-Applicable' if '-1' in x.lower() else x)
df['Revenue'].value_counts()

Unknown / Non-Applicable            259
$10+ billion (USD)                  153
$1 to $5 billion (USD)               71
$100 to $500 million (USD)           51
$5 to $25 million (USD)              35
$5 to $10 billion (USD)              33
$25 to $100 million (USD)            33
$500 million to $1 billion (USD)     18
$1 to $5 million (USD)               18
Less than $1 million (USD)            9
Name: Revenue, dtype: int64

## Finally exporting our data.

In [24]:
df_out=df
df_out.to_csv('data_cleaned.csv',index=False)


#Checking if the database was exported correctly:
#pd.read_csv('data_cleaned_2020.csv')